/* Урок 1: Введение */
header {
    color: deepskyblue; /* Наследуется дочерними элементами */
}

ul {
    color: purple; /* Переопределяет наследование от header */
}

/* Урок 2: CSS-Селекторы */

/* Селектор по тегу */
section {
    background-color: goldenrod;
}

/* Селектор по классу (рекомендуемый способ) */
.user-warning {
    color: darkred;
    font-size: 1.5rem;
    font-weight: 700;
}

/* Селектор по id (не рекомендуется для стилей) */
#id-selector {
    font-size: 1.5rem;
    color: blue;
}

/* Селектор по атрибуту */
[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem
}

/* Селектор потомков */
section p {
    color: green;
}

section p span {
    color: blue;
    font-weight: bold; /* Добавлено для наглядности */
}

/* Группировка селекторов */
h1,
h2,
h3 {
    color: teal;
}

/* Множественные классы */
.button {
    background-color: lightgray;
}

.button.is-active {
    background-color: coral;
}

/* Соседний селектор (+) */
.error-message {
    color: red;
    visibility: hidden;
}

.input.is-invalid + .error-message {
    visibility: visible;
}

/* Общий селектор соседей (~) */
.using-after {
    color: black;
}

.using-after ~ .parag {
    color: aquamarine;
}

.block-obj {
    /* display: block; Для div значение block используется по умолчанию */
    width: 100px;
    height: 100px;
    margin: 20px; /* margin - отступ со всех сторон вне элемента*/
    padding: 30px; /* padding - отступ со всех сторон внутри элемента */
    border: 5px solid red;
}

.inline-obj {
    /* display: inline; Тег span является строчным тегом, для него не нужно указывать display:inline; */
    margin: 20px;
    padding: 5px;
    border: 5px solid blue;
}

.inline-block-obj {
    display: inline-block;
    margin: 30px;
    padding: 5px;
    width: 100px;
    height: 100px;
    border: 5px solid darkgreen;
}

.none-obj {
    display: none;
}

.test-block {
    display: inline-block;
    padding: 15px 40px;
    border: 5px solid
}

.common-box {
    height: 250px;
    width: 250px;
    padding: 30px;
    border: 5px solid darkblue;
    margin-bottom: 30px;
    background-color: bisque;
}

.normal-size {
    box-sizing: border-box;
}

.rule-breaking-block {
    width: 100px;
    height: 100px;
    padding-inline: 0px;
    margin: -90px 0 0 40px;
    border: 5px solid;
    background-color: yellowgreen;
}
