* {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 500;
}


/* Урок 1: Введение */
header {
    color: deepskyblue; /* Наследуется дочерними элементами */
}

ul {
    color: purple; /* Переопределяет наследование от header */
}

/* Урок 2: CSS-Селекторы */

/* Селектор по тегу */
section {
    background-color: goldenrod;
}

/* Селектор по классу (рекомендуемый способ) */
.user-warning {
    color: darkred;
    font-size: 1.5rem;
    font-weight: 700;
}

/* Селектор по id (не рекомендуется для стилей) */
#id-selector {
    font-size: 1.5rem;
    color: blue;
}

/* Селектор по атрибуту */
[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem
}

/* Селектор потомков */
section p {
    color: green;
}

section p span {
    color: blue;
    font-weight: bold; /* Добавлено для наглядности */
}

/* Группировка селекторов */
h1,
h2,
h3 {
    color: teal;
}

/* Множественные классы */
.button {
    background-color: lightgray;
}

.button.is-active {
    background-color: coral;
}

/* Соседний селектор (+) */
.error-message {
    color: red;
    visibility: hidden;
}

.input.is-invalid + .error-message {
    visibility: visible;
}

/* Общий селектор соседей (~) */
.using-after {
    color: black;
}

.using-after ~ .parag {
    color: aquamarine;
}

.some-box{
    z-index: -200;
}

.block-obj {
    /* display: block; Для div значение block используется по умолчанию */
    width: 250px;
    height: 200px;
    margin: 20px; /* margin - отступ со всех сторон вне элемента*/
    padding: 30px; /* padding - отступ со всех сторон внутри элемента */
    border: 5px solid red;
}

.inline-obj {
    /* display: inline; Тег span является строчным тегом, для него не нужно указывать display:inline; */
    margin: 20px;
    padding: 5px;
    border: 5px solid blue;
}

.inline-block-obj {
    display: inline-block;
    margin: 30px;
    padding: 5px;
    width: 100px;
    height: 150px;
    border: 5px solid darkgreen;
}

.none-obj {
    display: none;
}

.test-block {
    display: inline-block;
    padding: 15px 40px;
    border: 5px solid
}

.common-box {
    height: 250px;
    width: 250px;
    padding: 30px;
    border: 5px solid darkblue;
    margin-bottom: 30px;
    background-color: bisque;
}

.normal-size {
    box-sizing: border-box;
}

.rule-breaking-block {
    width: 170px;
    padding-inline: 0px;
    margin: -90px 0 0 40px;
    border: 5px solid;
    background-color: yellowgreen;
}

.example {
    margin-top: 30px;
    padding-bottom: 10px;
    display: inline-block;
    background-color: white;
    border: 5px red solid;
}

.list-head {
    padding: 10px 10px;
    color: black;
    font-weight: 700;
}

.example p {
    color: black     ;
}

@font-face {
    font-family: 'Roboto';
    src: url(../assets/fonts/Roboto-Black.woff2) format(woff2);
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

.font-black {
    font-family: 'Roboto';
    font-weight: 900;
}

.transfer-link {
    text-decoration: none;
}

.new-style {
    padding-inline: 15px;
    border-color: darkmagenta;
}

.common {
    border-color: black;
    background-color: black;
}

.box-1 {
    background-image: linear-gradient(270deg,indianred,cornflowerblue);
}

.box-2 {
    background-image: radial-gradient(slateblue,darkorange);
}

.box-3 {
    background-image: conic-gradient(deepskyblue,lightpink);
}

.grad-boxes div{
    margin: 0 30px 30px 30px;
    width: 150px;
    height: 150px;
}

.box-example {
    width: 150px;
    height: 150px;
    background-image: linear-gradient(
       darkmagenta 30%,
       skyblue 40% 60%,
       cornflowerblue 70%
    );
    margin: 0 30px 30px 30px;
    border: 3px solid;
}

.box {
    box-sizing: content-box;
    padding-bottom: 0;
    margin: 30px 10px;
    width: 150px;
    height: 150px;
    background-color: lightgrey;
    border: 6px solid deepskyblue;
}

.broken-outline {
    outline: 7px dashed black;
    border-style: none;
    outline-offset: 20px;
    border-radius: 12px;
}

.shadow {
    background-color: lightcoral;
    border-color: aquamarine;
    box-shadow: 5px 7px 4px;
}

dialog {
    position: relative;
    margin:auto;
    padding: 50px;
}

dialog::backdrop {
    background-color: rgb(0, 0, 0 / 0.5);
}

dialog button {
    position: absolute;
    top: 10px;
    right: 10px;
}

.one {
    position: static;
    background-color: cornflowerblue;
}

.two {
    position: relative;
    background-color: lightcoral;
    top: 50px;
    left: 100px;
}

.three {
    position: absolute;
    background-color: olivedrab;
    z-index: 100;
    /* top: 100px;
    left: 250px; */
}

.four {
    position: fixed;
    background-color: indianred;
    bottom: 0;
    left: 330px;
    z-index: -200;
}

.five {
    position: sticky;
    background-color: goldenrod;
    top: 0;
    left: 20px;
}

.elem-1 {
    background-color: lightskyblue;
    width: 50vw;
    height: 100px;
}

.elem-2 {
    background-color: lightpink;
    font-size: 30px;
    width: 15em;
    height: 100px;
}

.elem-3 {
    background-color: lightgreen;
    width: 200px;
    height: 100px;
}

.elem-4 {
    background-color: lightsalmon;
    width: 30mm;
    height: 50px;
}

.flex-container {
    gap: 15px;
    padding: 10px;
    background-color: lightskyblue;
    display: flex;
}

.flex-element {
    height: 100px;
    width: 100px;
    background-color: lightgreen;
    padding: 10px;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.new-elem {
    width: 300px;
    height: 300px;
}

.stylish {
    width: 600px;
    border: 12px solid lightcoral;
}

.elems-grow {
    flex-grow: 1;
}

.elem-grow {
    flex-grow: 1;
}

.elems-shrink {
    flex-shrink: 0;
}

.elem-shrink {
    flex-shrink: 2;
}

.test {
    width: 300px;
}

.order-1 {order: 1 }
.order-2 {order: 2}
.order-3 {order: 3 }
.order-last {order: 4 }

.new-flex-container {
    align-items: baseline;
    padding: 10px;
    background-color: lightblue;
    display: flex;
    gap: 10px;
}

.new-flex-element {
    border: 4px solid;
    width: 100px;
    padding: 10px;
    background-color: lightgreen;
}

.new-flex-element h1,h2,h3{
    color: black;
}

hr {
    position: relative;
    bottom: -3rem;
    border: red solid;
    margin-bottom: -15px;
}

.with-before::before {
    content: "(-:";
    color: cornflowerblue;
}

.with-after::after {
    content: ":-)";
    color: crimson;
}

.with-red-placeholder::placeholder {
    color: red;
}

.with-file-selector-button::file-selector-button {
    background-color: lightgreen;
    font-weight: 700;
    border: 2px solid;
}

.with-first-letter::first-letter {
    font-size: 3rem
}

.with-first-line::first-line {
    text-decoration: underline;
}

section li {
    color: black;
}

.with-marker::marker {
    color: yellow;
}

section button {
    display: flex;
    background-color: coral;
    border-radius: 10px;
    font-weight: 700;
    margin: 20px 10px;
    flex-wrap: wrap;
    height: 100px;
    width: 300px;
    align-items: center;
    justify-content: center;
    border:  7px dashed;
}

.hover-eff:hover {
    background-color: palevioletred;
}

.focus-eff:focus {
    transform: scale(1.05);
}

.focus-visible-eff:focus-visible {
    transform: scale(0.95);
}

.active-eff:active {
    color: white;
    background-color: #000;
    transform:  scale(1.15);
}

.grid-container {
    display: grid;
    grid-template-columns: 2fr 1fr repeat(2, 1fr);
    gap: 10px;
}

.grid-elem {
    background-color: lightgreen;
    height: 6em;
}

.content {
    display: grid;
    min-height: 50vh;
    grid-template-columns: 25% auto 15%;
    grid-template-areas:
    "menu catalog advertisement"
    "menu catalog advertisement"
    "menu catalog ."
    "menu order order"
    ;
}

.menu {
    grid-area: menu;
    background-color: aqua;
}

.catalog {
    grid-area: catalog;
    background-color: cadetblue;
}

.advertisement {
    grid-area: advertisement;
    background-color: palevioletred;
}

.order {
    grid-area: order;
    background-color: lightgreen;
}

.overflow-test {
    margin-inline: 10px;
    padding-inline: 10px;
    width: 250px;
    height: 100px;
    background-color: lightseagreen;
    border: 4px solid black;
    overflow: auto;
}

.cliped {
    margin-top: 10px;
    overflow: clip;
    opacity: 0.7;
    height: 120px;
    clip-path: circle(60%);
}

.link {
    padding: 0 10px;
    text-align: center;
    margin: 20px auto ;
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    width: 250px;
    text-decoration: none;
    color: black;
}

.griddy {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    background-color: aqua;
    height: 500px;
    padding: 10px;
}

.griddy-head {
    grid-column: 1 / -1;
    background-color: lightblue;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    align-content: center;
}

.griddy-elem {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    border-radius: 5px;
}

.test-box {
    background-color: lightgreen;
    height: 200px;
    width: 200px;
    box-shadow: 4px -2px 12px 4px rgb(0 0 0 / 0.5);
    border: 5px solid blue;
    margin: 20px auto;
}

.transformed {
    transform: translate(50px, -50%);
    transform: scale(-1 , 0.7);
}

.boxin{
    width: 50px;
    height: 50px;
    background-color: lightskyblue;
    border: 2ppx solid indianred;
    transition: all 0.8s ease 0s;
}

.translated-on-hover:hover .boxin{
    transform: translateX(240px)
}

.scaled-on-hover:hover .boxin{
    scale: 1.75;
    translate: 200px;
}

.rotated-on-hover:hover .boxin{
    rotate: 0.53turn;
}

.non-dec {
    list-style: none;
}

.head {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
}


@keyframes move-to-right {
    0% {
        transform: translateX(0);
        background-color: lightseagreen;
    }
    30% {
        background-color: red;
    }
    41% {
        background-color: purple;
        transform: translateX(1046px);
    }
    85% {
        background-color: greenyellow;
    }

    100% {
        transform: translateX(0);
    }
}



.line {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 4px solid;
    margin-inline: 90px;
    flex-wrap: wrap;
    height: 70px;
}

.label {
    padding-left: 15px;
    font-size: 18px;
    margin-right: 20px;
    z-index: 100;
}

.line-box {
    position: absolute;
    z-index: -100;
    width: 70px;
    height: 100%;
    background-color: lightseagreen;
    animation-name: move-to-right;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-duration: alternate;
}

.ease-in {
    animation-timing-function: ease-in;
}

.ease-out {
    animation-timing-function: ease-out;
}

.ease-in-out {
    animation-timing-function: ease-in-out;
}

.linear {
    animation-timing-function: linear;
}
