.team-card {
   height: 100%;
   gap: 40px;
   padding: 40px 35px;
   border: var(--border);
   border-radius: var(--border-radius-big);
   box-shadow: var(--shadow);

   @include mobile {
      padding-inline: 50px;
   }

   &__header {
      display: flex;
   }

   &__image {
      &:not(:last-child) {
         margin-right: 20px;
      }
   }

   &__info {
      align-self: end;

      &:not(:last-child) {
         margin-right: 10px;
      }
   }

   &__link {
      @include flex-center;
      @include square(34px);

      flex-shrink: 0;

      color: var(--color-accent);
      align-self: start;
      margin-left: auto;
      background-color: var(--color-dark);
      border-radius: 50%;
   }

   &__name {
      &:not(:last-child) {
         margin-bottom: 3px;
      }
   }

   &__body {
      --teamCardBodyMarginToop: 28px;

      margin-top: var(--teamCardBodyMarginToop);
      padding-top: var(--teamCardBodyMarginToop);
      border-top: var(--border);

      @include mobile {
         --teamCardBodyMarginToop: 20px
      }
   }

   &__list {
      @include desktop  {
         grid-template-columns: repeat(2, 1fr);
      }
   }
}
