body {
   display: flex;
   justify-content: center;
   align-items: center;

   min-height: 100vh;
   background-color: lightyellow;
}


.learning-link {
   font-size: 32px;
   text-decoration: dashed underline;
   color: lightcoral;
}

.practice-link {
   font-size: 32px;
   padding: 12px;

   color: lightseagreen;
   text-decoration: dashed underline;
}

