body {
   display: flex;
   justify-content: center;
}


.learning-link {
   font-size: 24px;
   text-decoration: dashed underline;
   color: lightcoral;
}

.practice-link {
   font-size: 24px;
   text-decoration: dashed underline;
   color: lightseagreen;
}

